.mobi_content_con{
    /*display: flex; */
    margin: 5px auto;
    background: #fff;
}
.mobil_content_box .mobi_content_con  img{
    width: 2rem;
    height: 1.6rem;
    margin: 0.1rem;
}

.mobil_content_box .mobi_content_con span{
    width: 4rem;
    vertical-align: top;
    margin-left: 0.2rem;
    display: inline-block;
    font-size: 0.32rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    font-weight:700; 
}